/****************CSS HEADER START********************/
html, body{margin:0px; padding:0px;}
@font-face {
    font-family: "Montserrat";
    src: url(assets/fonts/Montserrat-Thin.ttf) format("truetype");
    src: url(assets/fonts/Montserrat-Bold.ttf) format("truetype");
    src: url(assets/fonts/Montserrat-Light.ttf) format("truetype");
    src: url(assets/fonts/Montserrat-Medium.ttf) format("truetype");
    src: url(assets/fonts/Montserrat-Regular.ttf) format("truetype");
}
body {
    background-color: black;
    color: white;
    font-family: "Lato", sans-serif;
}
/****************HEADER END********************/

/****************NAV and MAIN START********************/
.mainContainer{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 1fr;
    background-color: #F2F2F2;
}

.navTab{
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    border-top-right-radius: 45px;
    box-shadow:5px 5px 10px rgba(0, 0, 0, 0.1);
}

.navTab div{
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
    border-radius: 15px;
    height: 12vh;
    width: 11.5vh;
    margin-top: 40%;
    box-shadow: -12px -12px 13px rgba(255, 255, 255, 1),
              12px 15px 13px rgba(0, 0, 0, 0.1);
}

.navTab div:hover{
    box-shadow: -2px -2px 5px rgba(255, 255, 255, 255), 2px 2px 5px rgba(0, 0, 0, 0.15);
}
.navTab div.active{
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.1),
              inset 8px 8px 8px rgba(0, 0, 0, 0.1);
}

.navIcons{
    position: absolute;
    background-color: transparent;
    color: white;
    height: 39;
    width: 44%;
    top: 19%;
    left: 29%;
    user-select: none;
}

.navLabels{
    position: absolute;
    left: 25%;
    bottom: 11%;
    font-size: 2vh;
    color: #6A9BD8;
    user-select: none;

    font-family: Montserrat;
    font-weight: 600;
}

#databaseLabel{
    position: relative;
    top: 70%;
    left: 7%;
    letter-spacing: 0.5px;
}

#homeLabel{
    color: #ff6584;
    letter-spacing: 0.5px;
}

#targetLabel{
    color: #24C981;
    letter-spacing: 0.5px;
}

#processLabel{
    position: relative;
    top: 66%;
    left: 15%;
    letter-spacing: 1px;
    color: #f9a825;
}

#documentLabel {
    position: relative;
    left: 7%;
    top: 75%;
    color: #66657A;
    font-size: 1.7vh;
}

.tabContentArea{
    position:relative;
    background-color: transparent;
}
/****************NAV and MAIN END********************/


/****************HOME TAB START********************/
.homeContent{
    font-size: 2vh;
}
/****************HOME TAB END********************/


/****************DATABASE TAB START********************/
.databaseContent{
    position: absolute;
    width: 100%;
    height: 100%;
}
/****************DATABASE TAB END********************/


/****************PROCESS TAB START********************/
.processContent{
    position: absolute;
    width: 100%;
    height: 100%;
}
/****************PROCESS TAB END********************/


/****************DOCUMENTS TAB START********************/
.documentContent{
    position: absolute;
    width: 100%;
    height: 100%;
}
/****************DOCUMENTS TAB END********************/



.progressAnimation{
    display: none;
    position: relative;
    left: 35%;
    top: 15%;
    height: 80%;
    width: 20%;
    
    user-select: none;
    z-index: 10;
}

.gegga{
    background-size: 500px 500px;
}
