body{
	margin:0px;
	background:#222;
	color: white;
	font-family:'IBM Plex Serif', serif;
	margin:10px;
  z-index: -1;
}
svg{
	width:100%;
	height:70%;
	position:fixed;
	bottom:0;
	left:0;
}
span{
	color:white;
	font-family:'IBM Plex Serif', serif;font-weight: bold;
	opacity:.9;
}

.button {
	background-color: #A9A9A9;
  	border-radius: 8px;
  	border: 2px solid #ED0A3F;
  	cursor: pointer;
  	color: black;
	display:inline-block;
	font-size: 25px;
	font-family:'IBM Plex Serif', serif;font-weight: bold;
	margin:0 auto;
  	padding: 5px 10px;
  	text-align: none;
	text-decoration: none;
 	 	-webkit-transition-duration: 0.4s; /* Safari */
  	transition-duration: 0.4s;
  	z-index: +1;
}
.button:hover {
 	background-color: #ED0A3F;
  	color: white;
}
.footer{ 
    position: fixed;     
    text-align: center;    
    bottom: 0px; 
    width: 100%;
}  
.row {
 	display: flex;
}

input {
    width: 50px;
    padding: 5px 5px;
    font-size: 14px;
    outline: none;
    border: none;
    background-color: #6b6b6a;
    color: lighten(#6b6b6a, 50%);
    &:hover {
        background-color: darken(#6b6b6a, 5%);
        color: lighten(#6b6b6a, 10%);
    }
    &:focus {
        background-color: darken(#6b6b6a, 10%);
        color: lighten(#6b6b6a, 20%);
    }
}

li {list-style-type:none;}
.error { color: red; }
.heading { color: #808080; margin-top: 12px;}

/*
.autocomplete {
box-sizing: border-box;
}

body {
font: 16px Arial;  
}
*/

/*the container must be positioned relative:*/
.autocomplete {
position: relative;
display: inline-block;
}


#myInput {
border: 1px solid transparent;
background-color: #808080;
padding: 10px;
font-size: 16px;
width: 50px;
}

#myInput[type=text] {
background-color: #808080;
font-weight: bold;
color: white;
width: 100%;
}


#myInput[type=submit] {
margin: 500px;
background-color: DodgerBlue;
font-weight: bold;
font-size: 40px;
color: #fff;
cursor: pointer;
}

.autocomplete-items {
position: absolute;
border: 1px solid #808080;
font-weight: bold;
font-size: 25px;
border-bottom: none;
border-top: none;
color: white;
z-index: 99;
/*position the autocomplete items to be the same width as the container:*/
top: 100%;
left: 0;
right: 0;
}

.autocomplete-items div {
padding: 10px;
cursor: pointer;
background-color: #808080; 
border-bottom: 1px solid #d4d4d4; 
font-weight: bold;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
background-color: black;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
background-color: black !important; 
}