:root {
    --white-like: #F2F2F2;
    --database-blue: #6A9BD8;
    --home-red: #ff6584;
    --target-green: #24C981;
    --process-yellow: #f9a825;
    --stats-orange: #E86135;
    --single-pink: #ff6584;
    --analyze-purple: #78126A;
    --darker-royal-blue: #0C2450; 
    --document-grey: #66657A;
    --blood-red: #AE1100;
    --darker-yellow: #FF8C10;
    --darker-blood-red: #B94955;
    --sea-blue: #5A81AE;
    --forest-green: #4CBB17;
    --darker-forest-green: #499371;
    --golden-yellow: #F2D184;

    /*********WINDOW CONTROL*************/
    --minimize-yellow: #FFBD44;
    --resize-green: #00CA4E;
    --close-red: #FF605C;
}