@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../assets/fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../assets/fonts/montserrat-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

#header{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;

    color: #04052E;
}

table {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    width: 100%;
    border-collapse: separate;
    table-layout:fixed;
}

th {
    padding: 8px;
    height: 50px;
    border-radius: 15px;
    border: 1px solid #FCBD34;
    background-color: #FCBD34;
    color: #292826;
    text-align: left;
    white-space:normal;
    overflow: auto;
}

td {
    padding: 8px;
    padding-left: 20px;
    height: 50px;    
    border: 1px solid #dddddd;
    border: #F9D342;
    white-space:normal;
    text-align: left;
    overflow: auto;
}


tr:nth-child(even) {
    color: white;
    background-color: #04052E;
}

tr:nth-child(odd) {
    color: black;
    background-color: #F1F1F2;
    font-weight: bold;
}