@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../assets/fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../assets/fonts/montserrat-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
    background-color: black;
}

#patternText{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;

    color: white;
}

#popularityText{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;

    color: white;
}

li {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;

    color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    background-color: #04052E;
}

li:before {
    content: '\2022';
    color: #F5085E;
    padding-right: 0.5em;
}

dt {
    font-size: 27px;
    padding: 10px;
    padding-left: 15px;
    margin: 8px;
    border-radius: 15px;
    color: #FF6416;
    background-color: #240A3A;
}

dd {
    font-size: 23px;
    overflow: hidden;
    padding: 4px;
    padding-left: 10px;
    margin-bottom: 35px;
    border-radius: 10px;
    color: #F5085E;
    background-color: #04052E;
}