html, body{margin:0px; padding:0px;
background-color: #F2F2F2;
}
@font-face {
    font-family: "Montserrat";
    src: url(../assets/fonts/Montserrat-Light.ttf) format("truetype");
}

#header{
    font-family: Montserrat;
    font-weight: 900;
    font-style: bold;
    font-size: 35px;
    word-spacing: 4px;
    line-height: 1.6;
    letter-spacing: 4px;
    text-align: center;

    color: #04052E;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
    user-select: none;
}

table {
    width: 100%;
    border-collapse: separate;
    table-layout:fixed;
    font-family: Montserrat;
    font-style: light;
    font-weight: 600;
    font-size: 25px;
    word-spacing: 2px;
    line-height: 1.6;
    letter-spacing: 2px;
}

th {
    padding: 8px;
    height: 50px;
    border-radius: 11px;
    background-color: #F2F2F2;
    color: #292826;
    text-align: center;
    white-space:normal;
    overflow: auto;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
    box-shadow: -4px -8px 20px rgba(255, 255, 255, 255), 8px 8px 20px rgba(0, 0, 0, 0.15);
    user-select: none;
}

td {
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;    
    white-space:normal;
    text-align: center;
    overflow: auto;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
}

td::-webkit-scrollbar {
    width: auto;
}
td::-webkit-scrollbar-track {
    -webkit-box-shadow:  -6px -6px 20px rgba(255, 255, 255, 255), 6px 6px 20px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}
td::-webkit-scrollbar-thumb {
  background-color: #D3D3D3;
  border-radius: 5px;
}


.patternColumn{
    color: #B94955;
}

.popularityColumn{
    color: #5A81AE;
}

.addressColumn{
    color: #f9a825;
}


body::-webkit-scrollbar {
    width: auto;
}
body::-webkit-scrollbar-track {
    -webkit-box-shadow:  -6px -6px 20px rgba(255, 255, 255, 255), 6px 6px 20px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    background: #F2F2F2;
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(180, 179, 179);
  border-radius: 5px;
}
body::-webkit-scrollbar-corner {
    background-color: transparent;
}