html, body{margin:0px; padding:0px;
    background-color: #F2F2F2;
}
@font-face {
    font-family: "Montserrat";
    src: url(../assets/fonts/Montserrat-Thin.ttf) format("truetype");
    src: url(../assets/fonts/Montserrat-Bold.ttf) format("truetype");
    src: url(../assets/fonts/Montserrat-Light.ttf) format("truetype");
    src: url(../assets/fonts/Montserrat-Medium.ttf) format("truetype");
    src: url(../assets/fonts/Montserrat-Regular.ttf) format("truetype");
}

#patternText{
    padding-left: 5%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: light;
    font-size: 35px;
    word-spacing: 2px;
    line-height: 1.6;
    letter-spacing: 1px;
    color: grey;
    text-shadow: 1px 1px rgba(255, 255, 255, 1);
}

#popularityText{
    padding-left: 5%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: light;
    font-size: 35px;
    word-spacing: 2px;
    line-height: 1.6;
    letter-spacing: 1px;
    color: #B94955;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
}

li {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;

    color: #5A81AE;
    padding: 20px;
    margin: 40px;
    border-radius: 11px;
    background-color: #F2F2F2;
    box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 1),inset 3px 3px 5px rgba(0, 0, 0, 0.1);
}

dt {
    font-size: 27px;
    padding: 10px;
    padding-left: 20px;
    margin: 8px;
    width: 93%;
    border-radius: 15px;
    color: #FF6416;
    background-color: #F2F2F2;
    box-shadow: -2px -2px 5px rgba(255, 255, 255, 255), 2px 2px 5px rgba(0, 0, 0, 0.15);
}

dd {
    font-size: 23px;
    overflow: hidden;
    padding: 4px;
    margin-bottom: 35px;
    border-radius: 10px;
    color: grey;
    text-shadow: 1px 1px rgba(255, 255, 255, 1);
    background-color: #F2F2F2;
}