/******************HEADER START***********************/
.targetContentContainer{
    position: absolute;
    top: 2%;
    left: 1%;
    width: 98%;
    height: 96%;
    box-shadow: -8px -8px 10px rgba(255, 255, 255, 255), 2px 2px 5px rgba(0, 0, 0, 0.15);
    user-select: none;
}
/******************HEADER END***********************/
.targetHead{
    position: absolute;
    top: 5%;
    left: 5%;
    color: #5E84AC;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-family: Montserrat;
    font-style: light;
    font-weight: 900;
    font-style: light;
    font-size: 4.2vh;
}
.targetText{
    position: absolute;
    top: 12%;
    left: 7%;
    color: grey;
    word-spacing: 2px;
    line-height: 1.7;
    letter-spacing: 1px;
    font-family: Montserrat;
    font-style: light;
    font-weight: 900;
    font-style: light;
    font-size: 2.5vh;
}


.targetInputs{
    position: absolute;
    padding: 0% 0% 0.5% 1%;
    width: 20%;
    height: 5%;
    background-color: #F2F2F2;
    border: none;
    color: #5E84AC;
    border-bottom: 2px solid #5E84AC;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-family: Montserrat;
    font-style: light;
    font-weight: 600;
    font-size: 3vh;
    transition: 0.5s ease;
    outline: none;
    user-select: none;
}
.targetInputs:focus, .targetInputs:not(:placeholder-shown){
    border-bottom: 2px solid #F2F2F2;
}
.targetLabels{
    position: absolute;
    width: 20%;
    height: 5%;
    color: grey;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-family: Montserrat;
    font-style: light;
    font-size: 3vh;
    user-select: none;
    pointer-events: none;
    opacity: 0.7;
    transition: 0.5s ease;
}

.targetEmail{
    top: 38%;
    left: 5%;
}
.targetEmailLabel{
    top: 39%;
    left: 6%;
}
.targetEmail:focus+.targetEmailLabel, .targetEmail:not(:placeholder-shown)+.targetEmailLabel{
    top: 34%;
    left: 6%;
    font-size: 2.5vh;
}

.targetPassword{
    top: 38%;
    left: 40%;
}
.targetPasswordLabel{
    top: 39%;
    left: 41%;
}
.targetPassword:focus+.targetPasswordLabel, .targetPassword:not(:placeholder-shown)+.targetPasswordLabel{
    top: 34%;
    left: 41%;
    font-size: 2.5vh;
}

.targetName{
    top: 38%;
    left: 73%;
}
.targetNameLabel{
    top: 39%;
    left: 74%;
}
.targetName:focus+.targetNameLabel, .targetName:not(:placeholder-shown)+.targetNameLabel{
    top: 34%;
    left: 74%;
    font-size: 2.5vh;
}

.targetLocation{
    top: 54%;
    left: 5%;
}
.targetLocationLabel{
    top: 55%;
    left: 6%;
}
.targetLocation:focus+.targetLocationLabel, .targetLocation:not(:placeholder-shown)+.targetLocationLabel{
    top: 51%;
    left: 6%;
    font-size: 2.5vh;
}

.targetMobile{
    top: 54%;
    left: 40%;
}
.targetMobileLabel{
    top: 55%;
    left: 41%;
}
.targetMobile:focus+.targetMobileLabel, .targetMobile:not(:placeholder-shown)+.targetMobileLabel{
    top: 51%;
    left: 41%;
    font-size: 2.5vh;
}

.targetDob{
    top: 54%;
    left: 73%;
}
.targetDobLabel{
    top: 55%;
    left: 74%;
}
.targetDob:focus+.targetDobLabel, .targetDob:not(:placeholder-shown)+.targetDobLabel{
    top: 51%;
    left: 74%;
    font-size: 2.5vh;
}


.getPattern{
    position: absolute;
    padding: 2% 4% 2% 4%;
    bottom: 15%;
    left: 5%;
    color: #5E84AC;
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-family: Montserrat;
    font-style: light;
    font-size: 2.5vh;
    border-radius: 10px;
    border-style: dashed;
    border-width: 1px;
    border-color: grey;
}
.getPattern:hover{
    background-color: #5E84AC;
    color: white;
}

.targetSubmit{
    position: absolute;
    left: 73%;
    bottom: 20%;
    padding: 1% 3% 1% 3%;
    color: #5E84AC;
    border-radius: 10px;
    letter-spacing: 1px;
    font-family: Montserrat;
    font-style: light;
    font-size: 4vh;
    font-weight: 900;
    box-shadow: -8px -8px 20px rgba(255, 255, 255, 255), 8px 8px 20px rgba(0, 0, 0, 0.15);
}
.targetSubmit:hover{
    background-color: #5E84AC;
    color: white;
}