html, body{margin:0px; padding:0px;
    background-color: #F2F2F2;
}
@font-face {
    font-family: "Montserrat";
    src: url(../assets/fonts/Montserrat-Thin.ttf) format("truetype");
    src: url(../assets/fonts/Montserrat-Bold.ttf) format("truetype");
    src: url(../assets/fonts/Montserrat-Light.ttf) format("truetype");
    src: url(../assets/fonts/Montserrat-Medium.ttf) format("truetype");
    src: url(../assets/fonts/Montserrat-Regular.ttf) format("truetype");
}

#passwordString {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 5vh;

    padding-left: 2.7vh;
    
    color: #B94955;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
}

#generatedPatterns {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 2vh;
    margin: 2.7vh;
    color: white;
}

ul{
    margin: 4vh;
}

li {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 3.5vh;
    grid-column-start: auto;
    width: fit-content;

    color: #24C981;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
    padding: 3.5vh 3.7vh 3.5vh 3.7vh;
    margin: 3vh;
    border-radius: 11px;
    background-color: #f2f2f2;
    box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 1),inset 3px 3px 5px rgba(0, 0, 0, 0.1);
}

dt {
    font-size: 3vh;
    
    padding: 1.5vh;
    padding-left: 2vh;
    margin: 0.4vh;
    border-radius: 11px;
    width: auto;
    color: #f9a825;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
    box-shadow: -2px -2px 5px rgba(255, 255, 255, 255), 2px 2px 5px rgba(0, 0, 0, 0.15);
}

dd {
    font-size: 2.7vh;
    overflow: hidden;
    margin-top: 0.3vh;
    margin-bottom: 3.5vh;
    padding: 0.5vh;
    padding-left: 1vh;
    padding-right: 4vh;
    border-radius: 3vh;
    width: fit-content;
    color: grey;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
}