html, body{margin:0px; padding:0px;
    background-color: #F2F2F2;
}
@font-face {
    font-family: "Montserrat";
    src: url(../assets/fonts/Montserrat-Light.ttf) format("truetype");
}

#suggestionList {
    font-family: Montserrat;
    font-style: light;
    font-weight: 600;
    font-size: 35px;

    margin: 20px;
    margin-right: 60px;
    color: #F2F2F2;
}

li{
    margin: 25px;
    padding: 20px;
    border-radius: 12px;
    background-color: #F2F2F2;
    box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 1),inset 3px 3px 5px rgba(0, 0, 0, 0.1);
}

dt {
    font-size: 27px;
    padding: 10px;
    padding-left: 15px;
    margin: 8px;
    border-radius: 11px;
    color: #5A81AE;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
    box-shadow: -2px -2px 5px rgba(255, 255, 255, 255), 2px 2px 5px rgba(0, 0, 0, 0.15);
}

dd {
    font-size: 23px;
    overflow: hidden;
    padding: 10px;
    padding-right: 40px;
    padding-left: 15px;
    border-radius: 11px;
    width: min-content;

    color: #F2D184;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
    box-shadow: -2px -2px 5px rgba(255, 255, 255, 255), 2px 2px 5px rgba(0, 0, 0, 0.15);
}

dd:hover{
    background-color: rgb(238, 184, 59);
    color: black;
    box-shadow: -2px -2px 3px rgba(255, 255, 255, 255), 2px 2px 5px rgba(0, 0, 0, 0.15);
}


body::-webkit-scrollbar {
    width: auto;
}
body::-webkit-scrollbar-track {
    -webkit-box-shadow:  -6px -6px 20px rgba(255, 255, 255, 255), 6px 6px 20px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    background: #F2F2F2;
}
body::-webkit-scrollbar-thumb {
  background-color: #bebdbd;
  border-radius: 5px;
}
body::-webkit-scrollbar-corner {
    background-color: transparent;
}