/****************************************************
                IMPORT CONSTANT STYLES
****************************************************/
@import url("./constantStyles.css");
/****************************************************/

p {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
/*******************DATABASE TAB STRUCTURE START*********************/
.databaseTabContainer{
    position: absolute;
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
}


.databaseUpperBox{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: opacity 1000ms, visibility 1000ms;
}

.databaseButtons{
    position: absolute;
    height: 14%;
    width: 98%;
    top: 2%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: transparent;
}

.databaseButtons div{
    padding: 0.8%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    width: fit-content;
    letter-spacing: 1px;
    word-spacing: 2.5px;
    border-radius: 9px;
    box-shadow: var(--mediumElevatedButton-shadow);
    
    background-color: transparent;

    font-family: Montserrat;
    font-weight: 600;
    font-size: 2.3vh;
    user-select: none;
    cursor:pointer;
}

.databaseButtons div:hover{
    box-shadow: var(--mediumElevatedHover-shadow);
    transition: 0.1s;
}

.databaseButtons div.active{
    cursor: default;
    box-shadow: var(--mediumElevatedActive-shadow);
}

.databaseOperation{
    position: absolute;
    height: 80%;
    width: 98%;
    bottom: 2%;
    color: black;
    background-color: transparent;
    border-radius: 7px;
    box-shadow: var(--smallTabContainers-shadow);
}


.databaseLowerBox{
    position: relative;
    display: flex;
    transition: opacity 1000ms, visibility 1000ms;
}

/*******************DATABASE TAB STRUCTURE END*********************/


/******************IMPORT DATABASE START**********************/
.impDB{
    color: var(--databaseImport-text);
}
#importDB{
    position: absolute;
    margin-left: 2%;
    margin-top: 3%;
    padding: 1.5%;
    width: fit-content;

    font-family: Montserrat;
    font-weight: 600;
    font-size: 4.4vh;
    user-select: none;
}
.impDataText{
    margin-left: 2%;
    margin-top: 3%;
    font-size: 2vh;
    word-spacing: 2px;
    line-height: 1.5;
}
.impDataHeading{
    color: var(--databaseImport-text);
}
.impDataText{
    color: grey;
    word-spacing: 2px;
    line-height: 1.6;
    letter-spacing: 1px;
}

.importDbButtons{
    margin-top: 7%;
    letter-spacing: 1px;
    word-spacing: 2.5px;
    text-shadow: 0.1px 0.1px 1px grey;
    color: var(--databaseImport-text);

    font-family: Montserrat;
    font-weight: 600;
    font-size: 2.5vh;
    user-select: none;
    cursor:pointer;
}

.importDbStart{
    position: absolute;
    padding: 2%;
    text-align: center;
    
    width: 18%;
    top: 100%;
    left: 3%;
    border-radius: 10px;
    box-shadow: var(--highElevatedButton-shadow);
}
.importDbStart:hover{
    box-shadow: var(--highElevatedHover-shadow);
    transition: 0.1s;
}
.importDbStop{
    position: absolute;
    padding: 2%;
    text-align: center;
    
    width: 18%;
    top: 100%;
    left: 30%;
    border-radius: 10px;
    box-shadow: var(--highElevatedButton-shadow);
}
.importDbStop:hover{
    box-shadow: var(--highElevatedHover-shadow);
}

.importDbResult{
    display: none;
    position: absolute;
    padding: 3% 4% 3% 4%;
    width: fit-content;
    left: 121%;
    top: 5%;
    text-align: center;
    border-radius: 11px;
    box-shadow: var(--cardBlock-shadow);
    font-family: Montserrat;
    font-weight: 600;
    font-size: 60%;
    line-height: 1.5;
    letter-spacing: 1px;
    user-select: none;
}
.importDbAdded{
    color: var(--christi-green);
}
.importDbDuplicates{
    color: var(--brightRed-red);
}
.importDbTotal{
    color: var(--databaseDownload-text);
}

.impDbFolder{
    position: absolute;
    background-color: transparent;
    left: 99.3%;
    top: 105%;
    width: 52%;
    height: 50%;
    font-style: light;
    font-weight: 900;
    font-size: 1vh;
}
.impInputFolder{
    position: absolute;
    margin-top: -13.5%;
    margin-left: 38%;
    padding: 9%;
    width: 90%;
    font-size: 2.5vh;
    word-spacing: 2px;
    letter-spacing: 1px;
    border-radius: 10px;
    border-style: dashed;
    border-width: 1px;
    color: var(--databaseImport-text);
    border-color: grey;
    cursor:pointer;
}
.impInputFolder:hover{
    background-color: var(--databaseImport-text);
    color: var(--mainTheme-color);
    transition: 0.4s;
}
/******************IMPORT DATABASE END**********************/


/******************IMPORT DOWNLOADED DATABASE START*********************/
.impDownDB{
    color: var(--databaseDownload-text);
}

.importDownDBClass{
    position: relative;
    width: 100%;
    height: 100%;
    font-family: Montserrat;
    user-select: none;
}

.impDownTextBox{
    position: absolute;
    margin-top: 4%;
    background-color: transparent;
    padding-left: 2%;
    width: 50%;
    height: 50%;
}
.impDownTextHead{
    margin-bottom: 2%;
    white-space: nowrap;
    overflow: visible;
    color: var(--databaseDownload-text);
    font-weight: 900;
    font-style: light;
    font-size: 4.4vh;
}
.impDownText{
    padding-left: 1%;
    color: grey;
    word-spacing: 2px;
    line-height: 1.6;
    letter-spacing: 1px;
    font-weight: 900;
    font-style: light;
    font-size: 2vh;
}

.impDownButtons{
    position: absolute;
    background-color: transparent;
    letter-spacing: 1px;
    word-spacing: 2.5px;
    text-shadow: 0.1px 0.1px 1px grey;
    color: var(--databaseDownload-text);
    left: 0%;
    bottom: 0%;
    width: 50%;
    height: 50%;
    font-weight: 600;
    font-size: 2.5vh;
}
.importDownStart{
    position: absolute;
    padding: 2.3%;
    text-align: center;
    
    width: 20%;
    top: 30%;
    left: 7%;
    border-radius: 10px;
    box-shadow: var(--highElevatedButton-shadow);
}
.importDownStart:hover{
    box-shadow: var(--highElevatedHover-shadow);
    transition: 0.1s;
    cursor:pointer;
}
.importDownStop{
    position: absolute;
    padding: 2.3%;
    text-align: center;
    
    width: 20%;
    top: 30%;
    left: 37%;
    border-radius: 10px;
    box-shadow: var(--highElevatedButton-shadow);
}
.importDownStop:hover{
    box-shadow: var(--highElevatedHover-shadow);
    transition: 0.1s;
    cursor:pointer;
}

.impDownResults{
    position: absolute;
    background-color: transparent;
    left: 60%;
    top: 10%;
    width: 40%;
    font-style: light;
    font-weight: 900;
    font-size: 2.7vh;
    line-height: 1.5;
    letter-spacing: 1px;
    user-select: text;
}
.impDownResultsDiv{
    display: none;
    margin-right: 0% !important;
    position: relative;
    padding: 2% 4% 2% 4%;
    text-align: center;
    width: fit-content;
    max-width: 65%;
    height: 80%;
    top: 5%;
    left: 14.5%;
    border-radius: 11px;
    box-shadow: var(--cardBlock-shadow);
}
.impDownAdded{
    color: var(--christi-green);
    text-shadow: 0.1px 0.1px 1px rgb(147, 180, 131);
}
.impDownDuplicates{
    color: var(--brightRed-red); 
    text-shadow: 0.1px 0.1px 1px rgb(163, 127, 123);
}
.impDownTotal{
    color: var(--danube-blue);
    text-shadow: 0.1px 0.1px 1px rgb(177, 194, 214);
}

.impDownDD{
    position: absolute;
    background-color: transparent;
    right: 0%;
    bottom: 0%;
    width: 50%;
    height: 50%;
    font-style: light;
    font-weight: 900;
}
.impDownInputText{
    margin-top: 5%;
    margin-left: 22%;
    font-size: 2vh;
    color: #969695;
    word-spacing: 2px;
    letter-spacing: 1px;
    line-height: 1.4;
}
.impDownInputFolder{
    position: absolute;
    margin-top: 2%;
    margin-left: 30%;
    padding: 4%;
    font-size: 2.5vh;
    word-spacing: 2px;
    line-height: 1.6;
    letter-spacing: 1px;
    border-radius: 10px;
    border-style: dashed;
    border-width: 1px;
    color: var(--databaseDownload-text);
    border-color: grey;
    cursor:pointer;
}
.impDownInputFolder:hover{
    background-color: var(--databaseDownload-text);
    color: var(--mainTheme-color);
    transition: 0.4s;
}
/******************IMPORT DOWNLOADED DATABASE END**********************/


/******************EXPORT DATABASE START*********************/
.expDB{
    color: var(--databaseExport-text);
}

.exportDBClass{
    position: relative;
    width: 100%;
    height: 100%;
    font-family: Montserrat;
    user-select: none;
}
.exportDBTextBox{
    position: absolute;
    height: 50%;
    width: 50%;
    top: 0%;
    left: 0%;
    background-color: transparent;
}
.exportDBTextHead{
    margin-top: 9%;
    margin-left: 4%;
    white-space: nowrap;
    overflow: visible;
    color: var(--databaseExport-text);
    font-weight: 900;
    font-style: light;
    font-size: 4.4vh;
}
.exportDBText{
    margin-top: 3%;
    margin-left: 5%;
    color: grey;
    white-space: nowrap;
    word-spacing: 2px;
    line-height: 1.6;
    letter-spacing: 1px;
    font-weight: 900;
    font-style: light;
    font-size: 2vh;
}

.exportDBButtons{
    position: absolute;
    bottom: 0%;
    left: 0%;
    height: 50%;
    width: 50%;
    color: var(--databaseExport-text);
    letter-spacing: 1px;
    word-spacing: 2.5px;
    font-weight: 600;
    font-size: 2.5vh;
    text-shadow: 0.1px 0.1px 1px grey;
    background-color: transparent;
}
.exportDBStart{
    position: absolute;
    padding: 2.3%;
    text-align: center;
    
    width: 20%;
    top: 30%;
    left: 7%;
    border-radius: 10px;
    box-shadow: var(--highElevatedButton-shadow);
}
.exportDBStart:hover{
    box-shadow: var(--highElevatedHover-shadow);
    transition: 0.1s;
    cursor:pointer;
}
.exportDBStop{
    position: absolute;
    padding: 2.3%;
    text-align: center;
    
    width: 20%;
    top: 30%;
    left: 37%;
    border-radius: 10px;
    box-shadow: var(--highElevatedButton-shadow);
}
.exportDBStop:hover{
    box-shadow: var(--highElevatedHover-shadow);
    transition: 0.1s;
    cursor:pointer;
}

.expResults{
    position: absolute;
    top: 0%;
    right: 0%;
    height: 50%;
    width: 50%;
    background-color: transparent;
    font-style: light;
    font-weight: 900;
    font-size: 2.7vh;
    user-select: text;
}
.expResultsDiv{
    display: none;
    position: absolute;
    top:28%;
    left: 35%;
    width: fit-content;
    max-width: 70%;
    height: 30%;
    max-height: 45%;
    padding: 0% 4% 1% 4% !important;
    text-align: center;
    border-radius: 11px;
    box-shadow: var(--cardBlock-shadow);
}
.expTotal{
    position: relative;
    top: 34%;
    color: var(--databaseExport-text);
}

.expFolderDiv{
    position: absolute;
    bottom: 0%;
    right: 0%;
    height: 50%;
    width: 50%;
    background-color: transparent;
}
.expFolder{
    position: absolute;
    top: 34%;
    left: 30%;
    padding: 4%;
    border-radius: 10px;
    border-style: dashed;
    border-width: 1px;
    color: var(--databaseExport-text);
    border-color: grey;
    font-style: light;
    font-weight: 900;
    font-size: 2.5vh;
    word-spacing: 2px;
    line-height: 1.6;
    letter-spacing: 1px;
    cursor:pointer;
}
.expFolder:hover{
    background-color: var(--databaseExport-text);
    color: var(--mainTheme-color);
    transition: 0.4s;
}
/******************EXPORT DATABASE END**********************/


/******************DELETE DATABASE START*********************/
.dataDeletion{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    text-shadow: 0.1px 0.1px 1px black;
    user-select: none;
}

.deleteWarning{
    padding: 3%;
    position: relative;
    background-color: var(--mainTheme-color);
    width: fit-content;
    display: flex;
    align-items: center;

    box-shadow: var(--cardBlock-shadow);
    font-family: Montserrat;

}

.deleteIconWrapper{
    position: relative;
    height: 10vh;
    width: 10vh;
    margin-right: 4%;
    border-radius: 10px;
    box-shadow: var(--cardBlock-shadow);
    background-color: transparent;
    cursor:pointer;
}

.deleteIconActive{
    background-color: var(--seaBuckthorn-yellow);
    transition: 0.8s;
}

.deleteIcon{
    position: absolute;
    top: 10%;
    left: 10%;
    height: 80%;
    width: 80%;
    cursor:pointer;
}


.deleteWarningText{
    font-size: 2vh;
    color: grey;
    word-spacing: 2px;
    line-height: 1.4;
}

.deleteButton{
    margin-top: 3%;
    padding: 2%;
    width: 72.5%;
    text-align: center;
    background-color: var(--mainTheme-color);
    
    box-shadow: var(--cardBlock-shadow);

    letter-spacing: 2px;
    word-spacing: 6px;
    font-family: Montserrat;
    letter-spacing: 1.2px;
    word-spacing: 3px;
    font-weight: 900;
    font-size: 2vh;
    color: grey;
    cursor:pointer;
}
.deleteButton:hover{
    background-color: var(--brightRed-red);
    color: var(--mainTheme-color);
    font-weight: bolder;
    transition: 0.4s;
}
/******************DELETE DATABASE END**********************/


/******************PERSIST DATABASE START*********************/
.dataPersistance{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;

    font-family: Montserrat;
    text-shadow: 0.1px 0.1px 1px black;
    user-select: none;
}

.persistanceText{
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 5%;
    padding-right: 5%;
    width: 56%;
    word-spacing: 2px;
    line-height: 1.4;

    box-shadow: var(--cardBlock-shadow);

    font-weight: 500;
    font-size: 2vh;
    color: grey;
}

.availableQuota{
    margin-top: 1%;
    font-weight: 900;
    text-shadow: 0.1px 0.1px 1px gainsboro;
    color: var(--databaseExport-text);
}

.persistanceButton{
    margin-top: 3%;
    padding: 2%;
    width: 62%;
    text-align: center;
    background-color: var(--mainTheme-color);

    box-shadow: var(--highElevatedButton-shadow);
    font-weight: bold;
    font-size: 2vh;
    letter-spacing: 2px;
    word-spacing: 6px;
    color: grey;
    cursor:pointer;
}
.persistanceButton:hover{
    background-color: var(--christi-green);
    color: var(--mainTheme-color);
    box-shadow: var(--highElevatedHover-shadow);
    text-shadow: none;
    transition: 0.4s;
}
/******************PERSIST DATABASE END*********************/


/****************ALERTS START*****************/
.databaseImportAlert{
    margin-top: 22.5vh;
    margin-left: 59vw !important;
    width: 25vw !important;
    padding: 2vh 4vh 2vh 4vh;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 2.2vh;
    letter-spacing: 1.5px;
    user-select: none;
}

.databaseDownloadAlert{
    margin-top: 20vh;
    margin-left: 57.5vw;
    width: 25vw !important;
    padding: 2vh 4vh 2vh 4vh;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 2.2vh;
    letter-spacing: 1.5px;
    user-select: none;
}

.databaseExportAlert{
    margin-top: 21vh;
    margin-left: 61vw;
    width: 25vw !important;
    padding: 2vh 4vh 2vh 4vh;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 2.2vh;
    letter-spacing: 1.5px;
    user-select: none;
}
.databaseErrorAlerts{
    text-shadow: none !important;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 2.2vh;
    letter-spacing: 1.5px;
    user-select: text;
}
.databasePersistAlert{
    margin-top: 71vh;
    margin-right: 36.8vw;
    width: 25vw !important;
    padding: 4vh 5vh 4vh 5vh !important;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 2.2vh;
    letter-spacing: 1.5px;
    user-select: none;
}
.databaseDeleteAlert{
    margin-top: 71vh;
    margin-left: 54vw;
    width: 25vw !important;
    padding: 4vh 5vh 4vh 5vh !important;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 2.2vh;
    letter-spacing: 1.5px;
    text-shadow: none;
    user-select: none;
}
/****************ALERTS END*****************/