/****************************************************
                IMPORT CONSTANT STYLES
****************************************************/
@import url("./constantStyles.css");
/****************************************************/

.autocomplete {
    margin-left: 15%;
    margin-top: 6%;
    width: 70%;
    transition: 0.8s;
    transition: opacity 1000ms, visibility 1000ms;
}


.searchBarContainer {
  position: absolute;
  top: 50%;
  left: 30%;
  -ms-transform: translateX(-45%);
  transform: translate(-45%);
  width: 40%;
  margin-left: 15%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  transition: 0.5s;
  z-index: 1;
  outline: none;
}

.searchBarContainer.focused {
  width: 75%;
  top: 10%;
  margin-right: 50%;
  transition: 1s;
  outline: none;
}

.patternSearchBar {
    width: 100%;
    box-sizing: border-box;
    border-width: 3px;
    border-style: solid;
    border-radius: 4px;
    font-size: 16px;
    background-color: var(--mainTheme-color);
    background-image:  url("../assets/icons/search-icon.svg");
    background-position: 10px 10px;
    background-repeat: no-repeat;
    border-color: var(--searchBar-unfocused);
    color: var(--searchBar-text);
    padding: 12px 20px 12px 40px;
    box-shadow: 0 18px 70px 0 var(--seaBuckthorn-yellow);
    box-shadow: var(--homeSearchBar-shadow);
    transition: width 10s ease, top 0.4s ease, border-color 0.5s ease;

    font-family: Montserrat;
    font-weight: bold;
    font-size: 100%;
    letter-spacing: 1.5px;

    user-select: none;
    outline: none;
}

.searchBarContainer.focused .patternSearchBar {
    border-color: var(--searchBar-focused);
}

.homeImage {
    position: absolute;
    top: 32%;
    left: 11%;
    width: 47%;
    margin-left: 15%;
    height: 20%;
    transition: 0.5s;
    user-select: none;
    z-index: 1;
}

.searchBarContainer.focused+.homeImage {
    top: 1%;
    left: -1.5%;
    width: 20%;
    height: 10%;
    transition: 0.8s ease;
} 

.autocomplete-items {
    width: 100%;
    position: relative;
    border: 2px solid var(--mainTheme-color);
    border-top: none;
    border-bottom: none;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    z-index: 99;

    font-family: Montserrat;
    font-weight: 900;
    cursor: pointer;
    /*position the autocomplete items to be the same width as the container:*/
}
  
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    color: var(--searchBar-text);
    background-color: var(--mainTheme-color); 
    border-bottom: 1px solid var(--mainTheme-color); 
    overflow: hidden;
    text-overflow: ellipsis; 
}
  
/*when hovering an item:*/
.autocomplete-items div:hover {
    background-color: var(--danube-blue); 
    color: var(--mainTheme-color);
}

/********search results popularity*********/
#searchPatternPopularity{
    position: absolute;
    padding: 0.5% 0.5% 0.5% 0.5%;
    width: fit-content;
    right: 1.5%;
    color: var(--mainTheme-color);
    font-size: 2vh;
    background-color: var(--danube-blue);
    border-radius: 50px;
    transform: translateY(-18%);
}
.autocomplete-items div:hover #searchPatternPopularity{
    background-color: var(--searchBar-popularity);
}
#searchPatternPopularity:hover{
    background-color: var(--brightRed-red) !important;
}
  
/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
    background-color: var(--danube-blue) !important; 
    color: var(--mainTheme-color) !important; 
}
.autocomplete-active #searchPatternPopularity{
    background-color: var(--searchBar-popularity) !important;
}

.homeSubmit{
    position: absolute;
    top: 50.5%;
    left: 68%;
    background-color: var(--mainTheme-color);
    color: var(--searchBar-unfocused);
    cursor: pointer;
    border: solid transparent;
    border-radius: 4px;
    padding: 0.6%;
    font-size: 100%;
    box-shadow: var(--homeSearchSubmit-shadow);
    transition: 0.5s;

    font-family: Montserrat;
    font-weight: 900;

    z-index: 1;
    user-select: none;
}

/****************THEME BUTTON START*****************/
.appThemeIcon{
    display: block;
    position: absolute;
    height: 75%;
    width: 75%;
    right: 12.5%;
    top: 12%;
    cursor:pointer;
    pointer-events: none;
}
.themeChangeButton{
    position: absolute;
    height: 6%;
    width: 4%;
    right: 2%;
    top: 2%;
    text-align: center;
    color: black;
    background-color: #121312;
    border-radius: 15px;
    box-shadow: var(--smallSquareButton-shadow);
    user-select: none;
    cursor:pointer;
    transition: opacity 1000ms, visibility 1000ms;
    z-index: 10;
}
.themeChangeButton:hover{
    box-shadow: var(--smallSquareHover-shadow);
    transition: 0.1s;
}
.themeChangeButton.active{
    box-shadow: var(--smallSquareActive-shadow);
    transition: 0.4s;
}
/****************THEME BUTTON END*****************/



/****************DECORATION START*****************/
.homeSubmit:hover{
    background-color: var(--danube-blue);
    color: var(--mainTheme-color);
}

.searchBarContainer.focused~.homeSubmit{
    top: 10.5%;
    left: 87.5%;
    color: var(--searchBar-focused);
    transition: 1s ease;
}

.homeDecor1{
    position: absolute;
    bottom: 0%;
    right: 0%;
    height: 20%;

    z-index: 0;
    user-select: none;
    transition: opacity 1000ms, visibility 1000ms;
}

.homeDecor2{
    position: absolute;
    top: 2%;
    right: 2%;
    height: 27%;

    z-index: 0;
    user-select: none;
    transition: opacity 1000ms, visibility 1000ms;
}
/****************DECORATION END*****************/


/****************ALERTS START*****************/
.centerErrorAlert{
    margin-left: 15vh;
    margin-top: 45vh;
    
    padding: 2vh 4vh 2vh 4vh;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 2.2vh;
    letter-spacing: 1.5px;
    user-select: none;
}

.swal2-content{
    color: var(--alertBody-text);
}
/****************ALERTS END*****************/