/****************************************************
                IMPORT CONSTANT STYLES
****************************************************/
@import url("./constantStyles.css");
/****************************************************/


/***************BOILER PLATES START*****************/
p h1 h2 h3{
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
/***************BOILER PLATES END*****************/


/***************HEADER START***********************/
.processTabContainer{
    position: absolute;
    left: 0%;
    top: 0%;
    height: 100%;
    width: 100%;
}

.multipleProcessButton{
    position: absolute;
    height: 6%;
    width: 4%;
    right: 8%;
    top: 4%;
    text-align: center;
    color: black;
    background-color: transparent;
    border-radius: 15px;
    box-shadow: var(--smallSquareButton-shadow);
    user-select: none;
    cursor:pointer;
    transition: opacity 1000ms, visibility 1000ms;
}
.multipleProcessButton:hover{
    box-shadow: var(--smallSquareHover-shadow);
    transition: 0.1s;
}
.multipleProcessButton.active{
    box-shadow: var(--smallSquareActive-shadow);
    transition: 0.4s;
}
.multiUserIcon{
    position: absolute;
    height: 60%;
    width: 60%;
    right: 20%;
    top: 15%;
    cursor:pointer;
    pointer-events: none;
}

.singleUserButton{
    position: absolute;
    height: 6%;
    width: 4%;
    right: 3%;
    top: 4%;
    text-align: center;
    color: black;
    background-color: transparent;
    border-radius: 15px;
    box-shadow: var(--smallSquareButton-shadow);
    user-select: none;
    cursor:pointer;
    transition: opacity 1000ms, visibility 1000ms;
}
.singleUserButton:hover{
    box-shadow: var(--smallSquareHover-shadow);
    transition: 0.1s;
}
.singleUserButton.active{
    box-shadow: var(--smallSquareActive-shadow);
    transition: 0.4s;
}
.singleUserIcon{
    position: absolute;
    height: 60%;
    width: 60%;
    right: 20%;
    top: 15%;
    cursor:pointer;
    pointer-events: none;
}
/***************HEADER END***********************/


/*******************SINGLE USER TAB START**********************/
.singleUserTab{
    position: absolute;
    background-color: transparent;
    width: 98%;
    height: 96%;
    left: 1%;
    top: 2%;
    bottom: 2%;
    right: 1%;
    font-family: Montserrat;
    font-style: light;
    border-radius: 7px;
    box-shadow: var(--bigTabContainers-shadow);
}

.singleUserText{
    position: absolute;
    top: 12%;
    left: 4%;
    color: var(--processSingeUser-text);
    letter-spacing: 1px;
    word-spacing: 2px;
    font-size: 3vh;
    font-weight: 600;
    user-select: none;
}

.singleUserInput{
    position: absolute;
    width: 100%;
    height: 35%;
    top: 4%;
    font-weight: 300;
    letter-spacing: 1px;
}
.singleUserEmail{
    position: absolute;
    padding: 0.5%;
    width: 30%;
    height: 10%;
    top: 55%;
    left: 5%;
    font-size: 3vh;
    color: var(--processSingeUser-text);
    background-color: var(--mainTheme-color);
    border: none;
    border-bottom: 2px solid var(--processSingeUser-text);
    outline: none;
    user-select: none;
    transition: 0.5s ease;
}
.singleUserEmail:focus, .singleUserEmail:not(:placeholder-shown){
    border-bottom: 2px solid var(--mainTheme-color);
}
.singleUserEmailLabel{
    position: absolute;
    top: 59%;
    left: 6%;
    color: grey;
    font-size: 2.5vh;
    user-select: none;
    pointer-events: none;
    opacity: 0.7;
    transition: 0.5s ease;
}
.singleUserEmail:focus+.singleUserEmailLabel, .singleUserEmail:not(:placeholder-shown)+.singleUserEmailLabel{
    top: 47%;
    left: 5.4%;
    font-size: 2.5vh;
}
.singleUserPassword{
    position: absolute;
    padding: 0.5%;
    width: 30%;
    height: 10%;
    top: 55%;
    left: 41%;
    font-size: 2.5vh;
    color: var(--processSingeUser-text);
    background-color: var(--mainTheme-color);
    border: none;
    border-bottom: 2px solid var(--processSingeUser-text);
    outline: none;
    user-select: none;
    transition: 0.5s ease;
}
.singleUserPassword:focus, .singleUserPassword:not(:placeholder-shown){
    border-bottom: 2px solid var(--mainTheme-color);
}
.singleUserPasswordLabel{
    position: absolute;
    top: 59%;
    left: 42%;
    color: grey;
    font-size: 3vh;
    user-select: none;
    pointer-events: none;
    opacity: 0.7;
    transition: 0.5s ease;
}
.singleUserPassword:focus+.singleUserPasswordLabel, .singleUserPassword:not(:placeholder-shown)+.singleUserPasswordLabel{
    top: 47%;
    left: 41.4%;
    font-size: 2.5vh;
}

.singleUserSubmit{
    position: absolute;
    top: 22%;
    left: 78%;
    padding: 1% 2% 1% 2%;
    text-align: center;
    color: var(--processSingeUser-text);
    letter-spacing: 1px;
    word-spacing: 2px;
    border-radius: 6px;
    font-family: Montserrat;
    font-style: light;
    font-size: 2.5vh;
    font-weight: 600;
    user-select: none;
    box-shadow: var(--highElevatedButton-shadow);
    cursor:pointer;
}
.singleUserSubmit:hover{
    background-color: var(--processSingeUser-text);
    color: var(--mainTheme-color);
    transition: 0.4s;
}

.singleUserOutput{
    position: absolute;
    background-color: transparent;
    left: 1%;
    width: 98%;
    height: 63%;
    bottom: 1.5%;
    border: none;
    box-shadow: var(--tabContainersInner-shadow);
    user-select: none;
}
/*******************SINGLE USER TAB END**********************/


/*******************MULTI USER TAB START**********************/
.multiUserTab{
    position: absolute;
    background-color: transparent;
    width: 98%;
    height: 96%;
    left: 1%;
    top: 2%;
    bottom: 2%;
    right: 1%;
    border-radius: 7px;
    box-shadow: var(--bigTabContainers-shadow);
    font-family: Montserrat;
}

.changeUserTypes{
    position: absolute;
    width: 10vh;
    height: 18vh;
    right: 0%;
    top: 40%;
    border-top-left-radius: 90px;
    border-bottom-left-radius: 90px;
    background-color: var(--processAnalyze-text);
    cursor:pointer;
    transition: 0.15s;
    transition: opacity 1000ms, visibility 1000ms;
}
.arrowIcon{
    position: absolute;
    height: 35%;
    width: 35%;
    left: 40%;
    top: 32%;
    user-select: none;
    cursor:pointer;
    pointer-events: none;
}

.threadSelector{
    position: absolute;
    height: 13%;
    width: 30%;
    top: 58%;
    left: 4%;
    border-radius: 11px;
    user-select: none;
}
.threadText{
    position: absolute;
    height: 40%;
    width: 60%;
    top: 0%;
    left: 0%;
    padding-top: 2%;
    text-align: center;
    color: grey;
    font-weight: 900;
    font-style: light;
    font-size: 2.5vh;
}
#valueLabel{
    position: absolute;
    height: 40%;
    width: 40%;
    top: 0%;
    right: 0%;
    text-justify: auto;
    color: grey;
    font-size: 3.5vh;
    font-weight: bold;
}
#threadSelectorInput{
    position: absolute;
    top: 70%;
    outline: none;
}
input[type="range"] {
    display: block;
    -webkit-appearance: none;
    background-color: var(--scroll-bar);
    width: 80%;
    height: 5%;
    margin-left: 10%;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: var(--scroll-bar);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid var(--mainTheme-color);
    cursor: pointer;
    transition: .3s ease-in-out;
}​
input[type="range"]::-webkit-slider-thumb:hover {
    background-color: transparent;
    border: 2px solid var(--wildWatermelon-red);
}
input[type="range"]::-webkit-slider-thumb:active {
    transform: scale(1.6);
}

.processRawData{
    display: block;
    position: absolute;
    height: 80%;
    width: 97%;
    top: 12%;
    left: 3%;
    word-spacing: 2px;
    line-height: 1.7;
    letter-spacing: 1px;
    user-select: none;
}
.rawDataHead{
    color: var(--processAnalyze-text);
    font-weight: 900;
    font-style: light;
    font-size: 4.2vh;
}
.rawDataText{
    position: absolute;
    left: 2%;
    margin-top: 1%;
    color: grey;
    font-weight: 900;
    font-style: light;
    font-size: 2.2vh;
}

.analyzeStart{
    position: absolute;
    left: 4%;
    top: 85%;
    padding: 1% 3% 1% 3%;
    color: var(--processAnalyze-text);
    background-color: transparent;
    letter-spacing: 1px;
    word-spacing: 2.5px;
    text-shadow: 0.1px 0.1px 1px grey;
    font-weight: 600;
    font-size: 2.5vh;
    border-radius: 10px;
    box-shadow: var(--highElevatedButton-shadow);
    cursor:pointer;
}
.analyzeStart:hover{
    box-shadow: var(--highElevatedHover-shadow);
    transition: 0.1s;
}
.analyzeStop{
    position: absolute;
    left: 20%;
    top: 85%;
    padding: 1% 4% 1% 4%;
    color: var(--processAnalyze-text);
    background-color: transparent;
    letter-spacing: 1px;
    word-spacing: 2.5px;
    text-shadow: 0.1px 0.1px 1px grey;
    font-weight: 600;
    font-size: 2.5vh;
    border-radius: 10px;
    box-shadow: var(--highElevatedButton-shadow);
    cursor:pointer;
}
.analyzeStop:hover{
    box-shadow: var(--highElevatedHover-shadow);
    transition: 0.1s;
}

.analyzeInput{
    position: absolute;
    top: 82%;
    left: 48%;
    padding: 2% 6% 2% 6%;
    font-size: 2.5vh;
    border-radius: 10px;
    border-style: dashed;
    border-width: 1px;
    color: var(--processAnalyze-text);
    border-color: grey;
    cursor:pointer;
}
.analyzeInput:hover{
    background-color: var(--processAnalyze-text);
    color: var(--mainTheme-color);
    transition: 0.3s;
}

.analyzeOutput{
    position: absolute;
    top: 82%;
    left: 72%;
    padding: 2% 4% 2% 4%;
    font-size: 2.5vh;
    border-radius: 10px;
    border-style: dashed;
    border-width: 1px;
    color: var(--processAnalyze-text);
    border-color: grey;
    cursor:pointer;
}
.analyzeOutput:hover{
    background-color: var(--processAnalyze-text);
    color: var(--mainTheme-color);
    transition: 0.3s;
}

.statsGeneration{
    display: none;
    position: absolute;
    height: 80%;
    width: 97%;
    top: 12%;
    left: 3%;
    word-spacing: 2px;
    line-height: 1.7;
    letter-spacing: 1px;
    user-select: none;
}
.statsHead{
    color: var(--processStats-text);
    font-weight: 900;
    font-style: light;
    font-size: 4.2vh;
}
.statsText{
    position: absolute;
    left: 2%;
    margin-top: 1%;
    color: grey;
    font-weight: 900;
    font-style: light;
    font-size: 2.2vh;
}

.statsStart{
    position: absolute;
    left: 4%;
    top: 85%;
    padding: 1% 3% 1% 3%;
    color: var(--processStats-text);
    background-color: transparent;
    letter-spacing: 1px;
    word-spacing: 2.5px;
    text-shadow: 0.1px 0.1px 1px grey;
    font-weight: 600;
    font-size: 2.5vh;
    border-radius: 10px;
    box-shadow: var(--highElevatedButton-shadow);
    cursor:pointer;
}
.statsStart:hover{
    box-shadow: var(--highElevatedHover-shadow);
    transition: 0.1s;
}
.statsStop{
    position: absolute;
    left: 20%;
    top: 85%;
    padding: 1% 4% 1% 4%;
    color: var(--processStats-text);
    background-color: transparent;
    letter-spacing: 1px;
    word-spacing: 2.5px;
    text-shadow: 0.1px 0.1px 1px grey;
    font-weight: 600;
    font-size: 2.5vh;
    border-radius: 10px;
    box-shadow: var(--highElevatedButton-shadow);
    cursor:pointer;
}
.statsStop:hover{
    box-shadow: var(--highElevatedHover-shadow);
    transition: 0.1s;
}

.statsInput{
    position: absolute;
    top: 82%;
    left: 48%;
    padding: 2% 3.9% 2% 3.9%;
    font-size: 2.5vh;
    border-radius: 10px;
    border-style: dashed;
    border-width: 1px;
    color: var(--processStats-text);
    border-color: grey;
    cursor:pointer;
}
.statsInput:hover{
    background-color: var(--processStats-text);
    color: var(--mainTheme-color);
    transition: 0.3s;
}
.statsOutput{
    position: absolute;
    top: 82%;
    left: 72%;
    padding: 2% 3.7% 2% 3.7%;
    font-size: 2.5vh;
    border-radius: 10px;
    border-style: dashed;
    border-width: 1px;
    color: var(--processStats-text);
    border-color: grey;
    cursor:pointer;
}
.statsOutput:hover{
    background-color: var(--processStats-text);
    color: var(--mainTheme-color);
    transition: 0.3s;
}
/*******************MULTI USER TAB END**********************/


/*******************ALERTS START***************************/
.processAnalyzeAlert{
    width: 50vw !important;
    margin-top: 20vh;
    margin-left: 15vh;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 2.5vh;
    letter-spacing: 1.5px;
    box-shadow: var(--cardBlock-shadow);
    user-select: text;
}
.analyzeAlertOutput{
    margin-top: 2%;
    padding: 2% 18% 2% 18%;
    color: var(--processAnalyze-text);
    background-color: var(--mainTheme-color);
    font-family: Montserrat;
    font-weight: bold;
    font-size: 2.5vh;
    letter-spacing: 1.5px;
    word-spacing: 1px;
    border-radius: 7px;
    border: 1px grey;
    border-style: dashed;
    user-select: none;
    outline: none;
}
.analyzeAlertOutput:hover{
    background-color: var(--processAnalyze-text);
    color: var(--mainTheme-color);
}

.processStatsAlert{
    width: 50vw !important;
    margin-top: 20vh;
    margin-left: 15vh;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 2.5vh;
    letter-spacing: 1.5px;
    box-shadow: var(--cardBlock-shadow);
    user-select: text;
}
.statsAlertOutput{
    margin-top: 2%;
    padding: 2% 18% 2% 18%;
    color: var(--processStats-text);
    background-color: var(--mainTheme-color);
    font-family: Montserrat;
    font-weight: bold;
    font-size: 2.5vh;
    letter-spacing: 1.5px;
    word-spacing: 1px;
    border-radius: 7px;
    border: 1px grey;
    border-style: dashed;
    user-select: none;
    outline: none;
}
.statsAlertOutput:hover{
    background-color: var(--processStats-text);
    color: var(--mainTheme-color);
}

.processStopAlerts{
    margin-top: 5vh;
    margin-left: 5vh;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 2.5vh;
    letter-spacing: 1.5px;
    color: var(--alertBody-text);
    box-shadow: var(--cardBlock-shadow);
    user-select: none;
}

.singleUserAlerts{
    margin-top: 50vh;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 2.5vh;
    letter-spacing: 1.5px;
    color: var(--alertBody-text);
    box-shadow: var(--cardBlock-shadow);
    user-select: text;
}


.swal2-styled.swal2-confirm{
    color: var(--mainTheme-color);
}
.swal2-styled.swal2-cancel{
    color: var(--mainTheme-color);
    border-color: var(--mainTheme-color);
}
.swal2-styled:focus{
    box-shadow: var(--cardBlock-shadow);
}
.swal2-popup.swal2-toast{
    box-shadow: var(--highElevatedHover-shadow);
}
.swal2-title{
    color: var(--alertBody-text);
}
/*******************ALERTS END***************************/