* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/*------------------------  HEADER --------------------------*/

#appHeader {
    position: sticky;
    width: 100%;;
    height: 75px;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    z-index: 10;

    background: #04052E;
    border-radius: 0px 0px 26px 26px;
}

#headerText {
    position: relative;
    left: 2.23%;
    right: 39.96%;
    top: 0%;
    bottom: 34.38%;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 59px;

    color: #FFFFFF;
}

/*------------------------  CLASS --------------------------*/

.sections{
    padding: 50px;
    position: relative;
}

.headingText{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;

    color: #04052E;
}

.interactionBar{
    width: 95%;
    height: 162px;
    background: #04052E;
    border-radius: 45px;
}

.barText{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;

    color: #FFFFFF;
}

.threadInput{
    position: relative;
    bottom: 15px;
    left: 22%;
    right: 43%;
    width: 2%;
    padding: 0.5%;
    padding-left: 0.8%;
    background: #22007C;
    border-radius: 45px;
    color: white;
    visibility: visible;
}

::placeholder {
    color: grey;
}

.buttons{    
    width: 12%;
    padding: 0.2%;
    background-color: #22007C;
    border-radius: 45px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;

    color: #FFFFFF;
}

.sizedText{
    position: relative;
    top: 13%;
    left: 70%;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;

    color: #FFFFFF;
}

.patternSearch{
    position: relative;
    top: 35px;
    left: 3%;
    padding: 1%;
    padding-left: 2%;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    background: #22007C;
    border-radius: 45px;
    color: white;
    visibility: visible;
}

.targetInput{    
    width: 20%;
    padding: 0.2%;
    background-color: #22007C;
    border-radius: 45px;
    padding: 0.4%;
    padding-left: 1.5%;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 44px;

    color: #FFFFFF;
}

/*------------------------  ID --------------------------*/



/*---------  Analyze Data ---------*/

#textAnalyze{
    position: relative;
    left: 3%;
    right: 63.36%;
    top: 17.9%;
    bottom: 62.35%;
}

#startAnalyze{
    position: relative;
    top: 60px;
    right: 10px;
}

#stopAnalyze{
    position: relative;
    top: 60px;
    left: 40px;
}

#inputAnalyze{
    position: relative;
    top: 0%;
    left: 35%;
}

#outputAnalyze{
    position: relative;
    top: 0%;
    left: 40%;
}

#statusAnalyze{
    position: relative;
    top: 13%;
    left: 70%;
}



/*---------  Stats Generator ---------*/

#textStats{
    position: relative;
    left: 3%;
    right: 63.36%;
    top: 17.9%;
    bottom: 62.35%; 
}

#startStats{
    position: relative;
    top: 60px;
    right: 10px;
}

#stopStats{
    position: relative;
    top: 60px;
    left: 40px;
}

#inputStats{
    position: relative;
    top: 0%;
    left: 35%;
}

#outputStats{
    position: relative;
    top: 0%;
    left: 40%;
}

#statusStats{
    position: relative;
    top: 13%;
    left: 70%;
}



/*---------  Add Stats to Database ---------*/

#startDatabase{
    position: relative;
    top: 90px;
    left: 3.1%;
}

#statusDatabase{
    position: relative;
    top: 27%;
}

/*---------  Pattern and its Data ---------*/

#textPattern{
    position: relative;
    left: 3%;
}

#patternHint{
    position: relative;
    bottom: 18px;
    left: 35%;
}

#patternBar{
    position: relative;
    top: 10%;
    width: 60%;
}

#patternSubmit{
    position: relative;
    top: 5px;
    left: 5%;
    width: 15%;
}


/*---------  Target User Pattern ---------*/

#targetUserBar{
    width: 95%;
    height: 650px;
    background: #04052E;
    border-radius: 45px;
}

#emailField{
    position: absolute;
    left: 5.5%;
    top: 18%;
}

#emailBar{
    position: absolute;
    left: 5%;
    top: 25%;
}

#nameField{
    position: absolute;
    left: 35.5%;
    top: 18%;
}

#nameBar{
    position: absolute;
    left: 34.5%;
    top: 25%;
}

#locationField{
    position: absolute;
    left: 65.5%;
    top: 18%;
}

#locationBar{
    position: absolute;
    left: 64.8%;
    top: 25%;
}

#passwordField{
    position: absolute;
    left: 5.5%;
    top: 40%;
}

#passwordBar{
    position: absolute;
    left: 5%;
    top: 47%;
}

#dobField{
    position: absolute;
    left: 35.5%;
    top: 40%;
}

#dobBar{
    position: absolute;
    left: 34.5%;
    top: 47%;
}

#mobileField{
    position: absolute;
    left: 64.8%;
    top: 40%;
}

#mobileBar{
    position: absolute;
    left: 64.8%;
    top: 47%;
}

#generateHint{
    position: absolute;
    left: 5.5%;
    top: 65%;
}

#selectBar{
    position: absolute;
    left: 5%;
    top: 73%;
    width: 60%;
}

#patternGenerate{
    position: absolute;
    left: 70%;
    top: 74%;
    width: 15%;
}

#generatedPass{
    position: absolute;
    left: 5.5%;
    top: 85%;
}